/* General styles */
body {
  font-family: Arial, sans-serif;
  padding: 20px;
  display: grid;
  background-image: url(Gradient\ BG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.header {
  width: auto;
  background: rgba(255, 255, 255, 0.2);
  padding: 8px 15px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.header h4 {
  margin: 0;
  color: #fff;
  font-size: 24px;
}

.header span {
  color: #1aff00;
}

.navitems {
  padding: 0 380px;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.navitems li {
  margin: 10px 15px;
}

.navitems a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2vw;
  transition: all 0.3s ease-in-out;
}

.navitems a:hover {
  color: #ffffff;
  font-size: 1.35vw;
}

.header .btn{
  font-size: 16px;
  font-weight: bold;
  outline: none;
  padding: 7px 10px;
  border: none;
  border-radius: 10px;
  background-color: #ffeb3b;
  color: #000;
  transition: all .3s ease-in-out;
}

.header .btn:hover{
  cursor: pointer;
  background-color: #cbbb2f;
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  padding: 0 15px;
}

/* Header styles */
header {
  background: rgba(255, 255, 255, 0.2);
  color: white;
  text-align: center;
  padding: 20px 0;
}

header h1 {
  margin: 0;
}

/* Awards section styles */
.awards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.award-card {
  background-color: rgba(255, 255, 255, 0.175);
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  margin: 15px;
  padding: 20px;
  width: 300px;
  text-align: center;
  transition: transform 0.3s ease;
}

.award-card:hover {
  transform: translateY(-5px);
}

.award-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
}

.award-card h2 {
  color: #000000;
  margin-top: 0;
}

.award-card p {
  color: #ffffff;
}

/* Footer styles */
footer {
  background: -webkit-linear-gradient(right,#aa00ff,#6f00ff,#5512fb,#3c00ff);
  color: white;
  text-align: center;
  padding: 10px;
  width: auto;
}